html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.icon__item{
  width: 30px;
  height: 30px;
}

@import url("./Loading.css");