html,
body {
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
}

* {
  box-sizing: border-box;
}
.icon__item{
  width: 30px;
  height: 30px;
}
@import url("./bootstrap.css");
@import url("./Style.css");
@import url("./Loading.css");
